html {
    margin: 5% auto;
    width: 400px;
    height: 850px;
}
body {
    height: 100%;
    margin: 0;
}
#container {
    margin:0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(Pineapple.png);
    background-size: 50%;
    border-style:double ;
    border-width: 10px;
    border-color: #800000;
    border-radius: 15px;
    height: 100%
}

.aloha {
    margin:0;
    font-size: 2rem;
    font-family: "Euphoria Script", serif;
    font-weight: 400;
    font-style: normal;
}

.who {
    margin:0;
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
}

.invited{
    margin:0;
    font-size: 1em;
    font-family: "Euphoria Script", serif;
    font-weight: 400;
    font-style: normal;
}

.celebrate {
    margin:0;
    font-family: "Euphoria Script", serif;
    font-weight: 400;
    font-style: normal;
}

.save {
    margin:0;
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
}

.when {
    margin:0;
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
}

.where {
    margin:0;
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
}