html {
    margin: 5% auto;
    width: 400px;
    height: 650px;
}
body {
    height: 100%;
    margin: 0;

}
#container {
    margin:0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-image: url(Pineapple3.png);
    border-style:solid;
    border-width: 50px;
    height: 100%;
}


.aloha {
    border-top: solid 1px;
    padding-top: 25px;
    border-color: #800000;
    margin:0;
    font-size: 2rem;
    font-family: "Euphoria Script", serif;
    font-weight: 400;
    font-style: normal;
    
}

.who {
    margin:0;
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
}



.invited{
    margin:0;
    font-size: 1em;
    font-family: "Euphoria Script", serif;
    font-weight: 400;
    font-style: normal;
}

.celebrate {
    margin:0;
    font-family: "Euphoria Script", serif;
    font-weight: 400;
    font-style: normal;
    border-top: solid 1px;
    padding-top: 50px;
    border-color: #800000;
}

.save {
    margin:0;
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
}

.when {
    margin:0;
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #800000;
}

.where {
    margin:0;
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: solid 1px;
    border-color: #800000;
    padding: 25px;
}